.container{
    width: 80%;
}

.logoutForm{
    justify-content: right;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

#centerButtons{
    justify-content: center;
    text-align: center;
    margin: 15px;
    padding: 20px;
}

.picbackground{
    /*background-image: url("./fireworks_4th.jpg");*/
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background: url("./fireworks_4th.jpg") scroll no-repeat center;*/
}

/*body, html {*/
/*    height: 100%;*/
/*    margin: 0;*/
/*}*/