<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Checkin Status</title>
    <!--jquery dep  -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGH_z4B2pavP0quhO8uYvG6G4hLrWHBqQ" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        var startLat, startLon;
        var circle, testCircle;
        var userLatLng;
        var map;
        var clock;
        var countDownDate = localStorage.getItem('startDate');
        if (countDownDate) {
            countDownDate = new Date(countDownDate);
        } else {
            countDownDate = new Date();
            localStorage.setItem('startDate', countDownDate);
        }
        //var currentTime;
        window.onload = function() {
            function getError(err) {
                console.warn(`ERROR(${err.code}): ${err.message}`);
            }

            function getSuccess(position) {

                //lat long object of users location
                userLatLng = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
                console.log ("Success: Lat: " + position.coords.latitude + " Lon: " + position.coords.longitude);
            };
            navigator.geolocation.getCurrentPosition(getSuccess,getError,{timeout:5000, enableHighAccuracy:true});
        };

        function showLocationOnMap () {
            //map object
            map = new google.maps.Map(document.getElementById('map'), {
                center: userLatLng,
                zoom: 15
            });

            //checkin circle around the library
            var library = new google.maps.LatLng(38.755843,-93.737337);
            circle = new google.maps.Circle({
                center: library,
                radius: 66,//meters
                map: map,
                fillColor: '#0000FF',
                fillOpacity: 0.2,
                strokeColor: '#0000FF',
                strokeOpacity: 0.3
            });

            testCircle = new google.maps.Circle({
                center: userLatLng,
                radius: 66,//meters
                map: map,
                fillColor: '#0000FF',
                fillOpacity: 0.2,
                strokeColor: '#0000FF',
                strokeOpacity: 0.3
            });

            //marker of current location
            var marker = new google.maps.Marker({
                position: userLatLng,
                map: map,
                title: "Location"
            });
        }
        //38.7637668
        //-93.7448457

        function checkin() {
            var bounds = circle.getBounds();
            var inside = false;
            inside = bounds.contains(userLatLng);
            console.log(inside);
        }
        
        function checkInTest() {
            var bounds = testCircle.getBounds();
            var inside = false;
            inside = bounds.contains(userLatLng);
            console.log(inside);
            if(inside){
                countDownDate = new Date().getTime();
                clock = setInterval(timer,1000);
            }
        }

        function timer() {
            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now an the count down date
            var distance = now - countDownDate;

            // Time calculations for days, hours, minutes and seconds
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            document.getElementById("timer").innerHTML = hours + "h " + minutes + "m " + seconds + "s ";
        }

        function checkout() {
            console.log("stop timer");
            clearInterval(clock);
        }
    </script>

</head>

<body>
<input type="button" name="locate" value="Locate" onclick="showLocationOnMap()"/>
<input type="button" name="checkin" value="Check In" onclick="checkin()">
<input type="button" name="checkintest" value="Check In Test" onclick="checkInTest()">
<input type="button" name="checkout" value="Check Out" onclick="checkout()">
<h2 id="timer">0</h2>
<div id="map" style="height: 500px; width:100%; position:absolute"></div>

</body>
</html>